body
    margin-top 50px
    padding 15px
    font-family Sans-Serif

.new-game-form
    width 50%
    margin 0 auto
    margin-top 40px
    p
        font-size: 1.5em

#main-nav
    padding-right 15px

.inline
    display inline-block
    vertical-align bottom

.card-slot,.open-card
    width 70px
    height 100px
    margin 5px
    border-radius 2px
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none

.card-slot
    border 2px dashed #ccc
    display table
    .inside
        display table-row
        .contents
            display table-cell
            vertical-align middle
            text-align center
            color #ccc
            font-size 2em
    &.dragged-over
        border 2px dashed #777
        background-color #eee
        .contents
            color #777
            font-size 2.5em

.open-card
    border 1px solid #ccc
    box-shadow 2px 2px 5px #ccc
    table
        width 100%
        height 100%
        td
            vertical-align middle
            text-align center
        .small-number
            font-size 0.7em
            margin 3px
        .big-number
            font-size 1.7em
        .vachettes
            text-decoration underline
    &.vachettes_1
        background-color #E7FAE7
    &.vachettes_2
        background-color #DAFBFF
    &.vachettes_3
        background-color #FFF7FA
    &.vachettes_5
        background-color #FFE2E2
    &.vachettes_7
        background-color #FDC8C8

.hand-of-cards-container
    .open-card
        cursor pointer

.player
    height 32px
    vertical-align bottom
    display inline-block
    margin-right 5px
    &.their-turn
        .name
            font-size 1.5em
            color orange
    .name
        font-weight bold
        color #666
    table
        height 100%
    td
        vertical-align middle
        padding-left 3px
        padding-right 3px
.splash
    position absolute
    background-color rgba(255,0,0,0.5)
    visibility hidden
    td
        text-align center
        font-size 3em
    &.fade
        opacity 1
        transition: opacity 0.75s ease-in-out;
        -moz-transition: opacity 0.75s ease-in-out;
        -webkit-transition: opacity 0.75s ease-in-out;
