.chat
    .messages
    br
    .controls
        .row
            .col-xs-8
                .form
                    .form-group
                        label(for="message-input") Say stuffz to the ppl:
                        input#message-input(type="text").form-control
            .col-xs-4
                .form
                    .form-group
                        label(for="your-name-input") Your name:
                        input#your-name-input(type="text" value=username).form-control
