.container-fluid
    .row
        .col-md-6
            .players
        .col-md-6
            p.status
            .start-button-area
    
    br
    
    p.my-turn(style="visibility: hidden")
        span.label.label-success Your Turn
    
    .play-game
        .row
            .col-md-6.big-fixed-height
                .public-area
                    table.splash
                        tr
                            td.splash-message
                    .public-cards
                    hr
                .hand-of-cards
            .col-md-6.big-fixed-height
                .chat-container
