.container-fluid
    .row
        .col-lg-6
            .players
        .col-lg-6
            p.status
            .start-button-area
    
    br
    
    p.my-turn(style="visibility: hidden")
        span.label.label-success Your Turn
    
    .play-game
        .flex-row
            .flex-col.flex-half
                .public-area
                    table.splash
                        tr
                            td.splash-message
                    .public-cards
                    hr
                .hand-of-cards
            .flex-col.flex-half
                .chat-container
