.container
    .row
        .col-lg-6
            .players
        .col-lg-6
            p.status
            .start-button-area
    
    br
    
    p.my-turn(style="visibility: hidden")
        span.label.label-success Your Turn
    
    hr
    
    .public-area
        table.splash
            tr
                td.splash-message
        .public-cards

    hr

    .hand-of-cards
