.players-container
    each player in players
        .player(class=player.theirTurn ? 'their-turn' : '')
            span.name= player.name
            if player.cowsEaten === 1
                span (1 cow eaten)
            else if player.cowsEaten > 1
                span (#{player.cowsEaten} cows eaten)
