.container
    span.playerCount
    
    .players
    
    br
        
    p.status
    
    p.my-turn(style="visibility: hidden")
        span.label.label-success Your Turn
    
    hr
    
    .public-area
        table.splash
            tr
                td.splash-message
        .public-cards
            span.label.label-warning Sorry, but it seems this game is already full.

    hr

    .hand-of-cards
