each row, rowNumber in rows
    div
        each card in row.cards
            .inline !{openCardTemplate({card: card})}
        .inline
            .card-slot(data-row-number=rowNumber)
                .inside
                    .contents +
