if state === 'start'
    button(type="button").btn.btn-success.btn-lg.start-button Start Game
else if state === 'clicked'
    button(disabled="true" type="button").btn.btn-success.btn-lg.start-button Ready
